# Dependencies
/api-gateway/node_modules
/review-service/node_modules
/user-service/node_modules
/movie-service/node_modules
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build
/dist
/build

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/